#sidenavbar0 {
    background-color: rgb(24, 24, 25);
    color: rgb(110, 110, 110);
    display: flex;
    text-align: center;
    left: 0;
    height: 100%;
    max-height: calc(100% - 50px);
    width: 10%;
    position: fixed;
    overflow: auto;
    justify-content: left;
    transition: all 0.4s;
    z-index: 3;
}

#sidenavbar0:hover {
    color: rgb(220, 220, 220);
}

#sidenavbar1 {
    margin: 1px 0 0 0;
    background-color: rgb(32, 32, 36);
}

.sidecard {
    background-color: rgb(26, 26, 28);
    display: flex;
    flex-direction: column;
    position: relative;
    color: inherit;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    width: 200px;
    height: 40px;
    white-space: nowrap;
    text-align: left;
    justify-content: left;
    text-decoration: none;
}

.sidecard:hover::before {
    opacity: 1;
}

.sidecard::before,
.sidecard::after {
    content: "";
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: all 0.2s;
    width: 100%;
}

.sidecard::before {
    background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.1), transparent 60%);
}

.sidecategory1 {
    background-color: rgb(30, 30, 32);
    width: 168px;
    height: min-content;
    padding: 10px 8px 12px 22px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.sidecategory2 {
    height: 28px;
    width: 28px;
    padding: 0px 4px 0px 0px;
}

#sidespace {
    height: 100px;
    width: 100%;
    background-color: rgb(30, 30, 32);
}