#sidenavbar0 {
    background-color: rgb(0, 0, 100);
    color: rgb(110, 110, 110);
    display: flex;
    text-align: center;
    left: 0;
    height: 100%;
    max-height: calc(100% - 50px);
    width: 10%;
    min-width: 200px;
    position: fixed;
    overflow: auto;
    justify-content: center;
    transition: color 0.4s, width 0.4s, min-width 0.4s;
    z-index: 3;
}

#sidenavbar0:hover {
    color: rgb(220, 220, 220);
}

#sidenavbar1 {
    margin: 20px 0 0 0;
    transition: opacity 0.4s;
}

.sidecard {
    display: flex;
    color: inherit;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 16px;
    border-radius: 2px;
    width: min-content;
    height: min-content;
    padding: 4px 11px 7px 8px;
    white-space: nowrap;
    text-align: left;
    justify-content: left;
    text-decoration: none;
}

.sidecard:hover {
    background-color: rgb(45, 45, 50);
    color: rgb(225, 225, 225);
}

.sidecategory1 {
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 15px 0px 5px 0px;
}

.sidecategory2 {
    height: 28px;
    width: 28px;
    padding: 0px 4px 0px 0px;
}

#sidespace {
    height: 100px;
    width: 100%;
}