.test2 {
    background-color: rgb(80, 80, 80);
    margin: 25px 25px 25px 25px;
    border-radius: 20px;
    height: 403px;
    width: 240px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    transition: all 0.2s ease;
    
}
.test2:hover {
  scale: 104%;
  border-radius: 5px;
}
