body {
    background-color: rgb(24, 24, 25);
    margin: 50px 0px 0px 0px;
}

.content0 {
    background-color: rgb(24, 24, 25);
    color: rgb(204, 204, 204);
    text-align: center;
    display: flex;
    height: 100%;
    max-height: calc(100% - 50px);
    width: 88%;
    max-width: calc(100% - 200px);
    right: 0;
    overflow: auto;
    position: fixed;
    justify-content: center;
    z-index: 0;
}

#content1 {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2% 8% 2%;
    width: fit-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}

 ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(24, 24, 25);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(74, 74, 76);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 104);
  } 
