body {
    background-color: rgb(24, 24, 25);
    margin: 50px 0px 0px 0px;
    scrollbar-color: rgb(90, 90, 92) rgb(24, 24, 25);
    cursor: default;
}

#content0 {
    background-color: rgb(24, 24, 25);
    color: rgb(204, 204, 204);
    text-align: center;
    display: flex;
    height: 100%;
    max-height: calc(100% - 50px);
    width: 90%;
    max-width: calc(100% - 200px);
    right: 0;
    overflow: auto;
    position: fixed;
    justify-content: center;
    transition: width 0.4s, max-width 0.4s;
    z-index: 0;
}

#content1 {
    display: flex;
    flex-wrap: wrap;
    margin: 2% 2% 8% 2%;
    width: fit-content;
    height: max-content;
    justify-content: center;
    align-items: center;
}

 ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(24, 24, 25);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(60, 60, 62);
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(90, 90, 92);
    border-radius: 5px;
  } 

  ::-webkit-scrollbar-button {
    background: rgb(24, 24, 25);
    height: 1px;
  }
