* {
  transition: all 0.4s  ;
}
.card {
  display: block;
  background: rgb(80, 80, 80);
  height: 403px;
  width: 240px;
  box-shadow: 0 0 1px 0 rgb(80, 80, 80);
  border-radius: 20px;
  object-fit: cover;
}
.dcard {
  margin: 25px 25px 25px 25px;
  position: relative;
  display: flex;
  perspective: 500px;
}
.trigger {
  position: absolute;
  height: 33.333333%;
  width: 33.333333%;
  display: block;
  z-index: 2;
}
.trigger:nth-child(1) {
  left: 0%;
  top: 0%;
}
.trigger:nth-child(1):hover ~ .card {
  transform: rotateY(8deg) rotateX(-8deg) scaleY(105%) scaleX(105%);
  border-radius: 5px;
}
.trigger:nth-child(2) {
  left: 33.333333%;
  top: 0%;
}
.trigger:nth-child(2):hover ~ .card {
  transform: rotateY(0deg) rotateX(-8deg) scaleY(110%) scaleX(105%);
  border-radius: 5px;
}
.trigger:nth-child(3) {
  left: 66.666666%;
  top: 0%;
}
.trigger:nth-child(3):hover ~ .card {
  transform: rotateY(-8deg) rotateX(-8deg) scaleY(105%) scaleX(105%);
  border-radius: 5px;
}
.trigger:nth-child(4) {
  left: 0%;
  top: 33.333333%;
}
.trigger:nth-child(4):hover ~ .card {
  transform: rotateY(8deg) rotateX(0deg) scaleY(105%) scaleX(112%);
  border-radius: 5px;
}
.trigger:nth-child(5) {
  left: 33.333333%;
  top: 33.333333%;
}
.trigger:nth-child(5):hover ~ .card {
  transform: rotateY(0deg) rotateX(0deg) scaleY(104%) scaleX(104%);
  border-radius: 5px;
}
.trigger:nth-child(6) {
  left: 66.666666%;
  top: 33.333333%;
}
.trigger:nth-child(6):hover ~ .card {
  transform: rotateY(-8deg) rotateX(0deg) scaleY(105%) scaleX(112%);
  border-radius: 5px;
}
.trigger:nth-child(7) {
  left: 0%;
  top: 66.666666%;
}
.trigger:nth-child(7):hover ~ .card {
  transform: rotateY(8deg) rotateX(8deg) scaleY(105%) scaleX(105%);
  border-radius: 5px;
}
.trigger:nth-child(8) {
  left: 33.333333%;
  top: 66.666666%;
}
.trigger:nth-child(8):hover ~ .card {
  transform: rotateY(0deg) rotateX(8deg) scaleY(110%) scaleX(105%);
  border-radius: 5px;
}
.trigger:nth-child(9) {
  left: 66.666666%;
  top: 66.666666%;
}
.trigger:nth-child(9):hover ~ .card {
  transform: rotateY(-8deg) rotateX(8deg) scaleY(105%) scaleX(105%);
  border-radius: 5px;
}
