.test2 {
    background-color: rgb(30, 30, 30);
    display: flex;
    margin: 0.5% 0.5% 0.5% 0.5%;
    border-radius: 20px;
    height: 320px;
    width: 180px;
    position: relative;
    cursor: pointer;
    object-fit: cover;
    box-shadow: 0px 0px 1px 0px rgb(97, 97, 97);
}

.test2:hover::before {
    opacity: 1;
    background-color: rgb(35, 35, 35);
    box-shadow: 0px 0px 1px 0px rgb(121, 121, 121);
}

.test2::before,
.test2::after {
    content: "";
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    position: absolute;
    transition: all 0.1s  ;
    width: 100%;
}

.test2::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y), rgba(255, 255, 255, 0.1), transparent 50%);
}

.test3 {
    margin: 68px;
    top: 0;
    position: fixed;
    cursor: pointer;
    height: 85%;
    width: max-content;
    transition: all 0.8s  ;
    box-shadow: 0px 0px 120px 80px rgb(24, 24, 25);
    z-index: 9;
}